<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently pursuing Master's in Computer Science at 
      <a class="underline-link" href="https://www.usc.edu/" target="_blank">University of Southern California</a>, 
      focusing on software engineering and data analytics. 
      Before this, I earned my Bachelor's degree from Amrita Vishwa Vidyapeetham, where I excelled academically. 
      My professional journey includes impactful roles at 
      <a class="underline-link" href="https://www.vmware.com/" target="_blank">VMware</a> and 
      <a class="underline-link" href="https://www.cdot.in/" target="_blank">CDOT</a>, 
      where I developed innovative software solutions and received accolades for my work.
      </p>

    <p>
      As a software engineer, I'm passionate about creating applications that not only function efficiently under the hood 
      but also deliver user-friendly experiences. I aim to bridge the technical and user-centric aspects of software development, 
      ensuring that my projects are both technically robust and aesthetically pleasing.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably playing badminton, experimenting with new recipes in the kitchen or Stargazing. 
      Always looking to add new experiences to my life's journey.
    </p>

  </div>
</section>
