<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://stocksearch-webtech4.appspot.com/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/stocksearch/Stocksearch.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://stocksearch-webtech4.appspot.com/" target="_blank">Stock Search</a>
        </div>
        <p>A trading simulation website using Angular for the frontend, Node.js for the backend,
          and MongoDB for data management, deployed on Google Cloud Platform (GCP).
          It allows users to manage watchlists and execute buy/sell operations based on real-time market data.
        </p>
      </figcaption>
    </div>

    <div class="project screentime">
      <figure class="project__pic phones">
        <a href="https://github.com/dreddyyerram/stockSearchApp" target="_blank">
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/screentime/screentime1.png" alt="">
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/screentime/screentime3.png" alt="">
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/screentime/screentime4.png" alt="">
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/screentime/screentime1.png" alt="">
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/dreddyyerram/stockSearchApp" target="_blank">Stock Trade</a>
        </div>
        <p>An iOS trading simulation app using Swift for the frontend, Node.js for the backend, and MongoDB for data management.
          It enables users to manage watchlists and execute buy/sell operations based on real-time market data.</p>
      </figcaption>
    </div>
  </div>
</section>
