<header class="intro">
  <h1 class="intro__hello">Hello!
    <span class="emoji wave-hand animated"></span>
  </h1>

  <h2 class="intro__tagline">I'm
    <span class="name">Dharanidhar Reddy Yerram</span>, a CS Grad student focused on innovative software development & data analytics. Passionate about impactful tech solutions
  </h2>

  <h3 class="intro__contact">
    <span>Get in touch </span>
    <span class="emoji pointer"></span>
    <span>
      <a href="mailto:yerramdharanidhar@gmail.com" target="_blank" class="highlight-link">yerramdharanidhar@gmail.com</a>
    </span>
  </h3>
</header>
